<div class="container-fluid">
    <header>
        <img class="" id="nav-logo" src="/images/Goalsy-logo.png" alt="Goalsy logo">
    </header>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col desc">
            <h2>Goalsy</h2>
            <p>A fun and engaging task list app, perfect for keeping you on track in your day to day life. Stay
                motivated to get stuff done and get rewarded for completing tasks. Spend your rewards in the shop, where
                you can buy cool new items for your character!</p>
        </div>
        <div class="col signup">
            <form class="form signup-form">
                <h2>Create an account!</h2>
                <div class="mb-3">
                    <label for="signup-email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="signup-username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="signup-username" aria-describedby="usernameHelp" placeholder="Choose a unique username">
                </div>
                <div class="mb-3">
                    <label for="signup-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signup-password" aria-describedby="passwordHelp" placeholder="Enter a secure password">
                </div>
                <div class="text-center"> <!-- Added text-center class here -->
                    <button type="submit" class="btn btn-primary submit-button">Submit</button>
                    <h5>OR</h5>
                    <a class="btn btn-primary login-button" href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>