<img class="logo" id="nav-logo" src="/images/Goalsy-logo1.png" alt="Goalsy logo1">
<div class="container">
    <div class="row justify-content-center align-content-center">
        <div class="col-6">
            <div class="login backlit1">
                <!-- Form to log in -->
                <form class="form login-form">
                    <h2 id="login">Login to your account</h2>
                    <div class="mb-3">
                        <label for="login-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="login-username" aria-describedby="usernameHelp"
                            placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <label for="login-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="login-password" aria-describedby="passwordHelp"
                            placeholder="Enter your password">
                    </div>
                    <div class="text-center"> <!-- Added text-center class -->
                        <button type="submit" id="password-label" class="btn btn-primary login-button">Login</button>
                    </div>
                </form>
                <!-- Or create an account -->
                <div class="text-center">
                    <button class="btn btn-primary login-button" onclick="location.href='/';">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>
<script>
    setTimeout(function () {
        var loginTitle = document.getElementById('login');
        loginTitle.style.color = 'white';
        var usernameLabel = document.getElementById('username-label');
        var passwordLabel = document.getElementById('password-label');
        usernameLabel.classList.add('color-change');
        passwordLabel.classList.add('color-change');
    }, 2200);
</script>