<div class="row justify-content-around">
    <!-- Form to log in -->
    <form>
        <h2>Login to your account</h2>
        <div class="mb-3">
            <label for="login-username" class="form-label">Username</label>
            <input type="text" class="form-control" id="login-username" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Enter your username</div>
        </div>
        <div class="mb-3">
            <label for="login-password" class="form-label">Password</label>
            <input type="text" class="form-control" id="login-password" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Enter your password</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Or create an account -->
    <h5 class="text-center">or</h5>
    <a class="btn btn-primary w-100">Create an account</a>
</div>