{{#each items as |item|}}
<div class="row justify-content-around">
    <div class="col">
        <img src="">
    </div>
    <div class="col">
        <p>{{item.Item.name}}</p>
    </div>
    <div class="col">
        <img src="/images/coin-icon.png">
        <p>{{item.price}}</p>
    </div>
</div>
{{/each}}
<h1>test</h1>