{{#each items}}
<div class="row justify-content-around">
    <div class="col">
        <img src="">
    </div>
    <div class="col">
        <p>{{items.name}}</p>
    </div>
    <div class="col">
        <i class="fa-solid fa-coins"></i>
        <p></p>
    </div>
</div>
{{/each}}