:root {
    --light: #F8F4E3;
    --aqua: #0FA3B1;
    --black: #332E3C;
    --pink: #AA767C;
    --blue: #003554;
}

* {
    font-family: 'Oxygen', sans-serif;
    overflow-x:inherit;
   
}

main {

}

html,
body {
    background-color: var(--light);
}

.submit-button {
    background-color: var(--blue);
    min-width: 150px;
    margin-bottom: 10px;
}

.login-button {
    background-color: var(--blue);
    min-width: 150px;
}

#nav-logo {
    width: 100px;
}

#goalsy {
    text-shadow: 2px 2px 2px rgba(122, 119, 119, 0.637);
    position: relative;
    left: 14vw;
    top: 7vw;
    font-family: 'Shadows Into Light', cursive;
}

html {
    overflow-x: visible;
    width: 100vw;
}

.desc {
    margin: 10vw 2vw 0 2vw;
    color: var(--black);
    width: 50vw;
}

.signup {
    width: 50vw;
    background-color: var(--pink);
    border-radius: 20px;
    margin: 20px 40px 0 20px;
    padding: 20px 0;
}

.signup-form {
    color: var(--black);
    margin: 0 5vw 0 5vw;
    border-color: var(--black);
}

.character-box {
    display: flex;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}

.current-task {
    display: flex;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    float: left;
    margin-right: 10px;
}

.character-info {
    flex-grow: 1;
}

.character-name-level {
    font-weight: bold;
}

.character-health,
.character-exp {
    margin-top: 5px;
}

.task-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: green;
    color: white;
    box-sizing: border-box;
    float: left;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px 0
}

.task-name {
    font-weight: bold;
    padding: 5px 0
}

.task-time {
    padding: 5px 0
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.spacer {
    min-height: 75px;
    overflow-x: auto;
}

p {
    line-height: 2;
    text-indent: 10%;
 
}

h1, h2, h3, h4, h5 , h6, p, a {
    overflow-x:visible;
}

#dropdownButton {
    width: 200px;
    text-align: left;
}

.dropdown-menu {
    width: 200px;
}

#selectedCategoryInput {
    width: 100%;
    margin-top: 10px;
}

#timeInput {
    width: 100%;
    margin-top: 10px;
}

#addTask {
    margin-top: 10px;
}

#store-coin-img {
    width: 50px;
}

.backlit {
    border: none;
    animation: glowEffect 0s 5s forwards;
}

.transition-image {
    position: fixed;
    top: 0;
    left: 0;
    animation: image-transition 5s forwards;
}

label {
    font-size: 20px;
}

@keyframes glowEffect {
    0% {
        box-shadow: 0 0 0 rgba(255, 153, 0, 0);
    }

    100% {
        box-shadow: 0 0 25px 20px rgba(255, 208, 0, 0.5);
    }
}

@keyframes image-transition {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 20%;
        left: 48%;
        transform: translateX(-75%);
    }
}