:root {
    
}

#nav-logo {
    width: 100px;
}

html {
    width: 100vw;
}

.character-box {
    display: flex;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}

.current-task {
    display: flex;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    float: left;
    margin-right: 10px;
}

.character-info {
    flex-grow: 1;
}

.character-name-level {
    font-weight: bold;
}

.character-health,
.character-exp {
    margin-top: 5px;
}

.task-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: green;
    color: white;
    box-sizing: border-box;
    float: left;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px 0
}

.task-name {
    font-weight: bold;
    padding: 5px 0
}

.task-time {
    padding: 5px 0
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f5f5f5;
}

#dropdownButton {
    width: 200px;
    text-align: left;
}

.dropdown-menu {
    width: 200px;
}

#selectedCategoryInput {
    width: 100%;
    margin-top: 10px;
}

#timeInput {
    width: 100%;
    margin-top: 10px;
}

#addTask {
    margin-top: 10px;
}

#store-coin-img {
    width: 50px;
}